<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="user-view clearfix ">
  <%= link_to user_path(notification.visitor) do %>
    <%=  image_tag avatar_url(visitor), class:"user-thumb", style:"width: 60px;"%>
  <% end %>
  <%== notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)}前)" %></span>
  <br>
  <% unless @comment.nil? %>
    <p class="moderate-font"><%= @comment %></p>
  <% end %>
  <br>
</div>