<div>
  <br>
  <h4 class="sub-title">通知</h4>
  <br>
  <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
  <% if notifications.exists? %>
    <div class="users-index">
      <%= render notifications %>
      <br>
      <%= will_paginate(@notifications, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
    </div>
  <% else %>
    <p>通知はありません</p>
  <% end %>
</div>