.navbar {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
  height: 77px;
  &__brand {
    height: 35px;
    width: 176px;
    background-size: 114px;
  }
  &__mainLogo {
    background-repeat: no-repeat;
    background-image: image-url("logo.png");
    height: 60px;
  }
  &-nav {
    & > li {
      margin-left: 20px;
      &:first-child {
        margin-left: 0;
      }
    
    #form1{
      position:relative;/*フォームの相対位置*/	
      max-width:350px;/*フォームのサイズ*/
      margin-bottom:15px;/*フォームの下に余白*/	 	
      }
      
      #sbox{
      position:absolute;
      left:0;
      top:0; 	
      outline:0;/*クリック時の青い枠線消す*/	
      height:50px;/*検索ボックスの高さ*/	
      padding:0 10px;/*テキスト位置調整*/	 
      border-radius:2px 0 0 2px;/*検索ボックスの角を丸める*/		
      background:#eee;/*検索ボックスの背景カラー*/		
      }
      /*検索ボタン*/
      .sbtn{
      width:60px;/*検索ボタンの横幅*/ 
      height:30px;/*検索ボタンの縦幅*/ 
      left:260px;/*検索ボタンの位置調整*/  
      top:0;
      border-radius:0 2px 2px 0; 
      background:#7fbfff; 
      border: none;
      color:#fff;
      font-size:10px; 
      }
      .sbtn:hover{
      color:#666;
      }
      .commonNavIcon {
        height: 27px;
        width: 27px;
        background-size: 22px !important;
        background-repeat: no-repeat;
      }
      .people-icon {
        background-repeat: no-repeat;
        background-image: image-url("people.png");
      }
      .profile-icon {
        background-repeat: no-repeat;
        background-image: image-url("parts3.png");
      }
    }
  }
}