<footer>
  
  <nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <div class="text-center">
        <p>
          Copyright © 
        </p>
      </div>
      
      <ul class="navbar-nav ml-md-auto align-items-center">
        
        <li>
          <%= link_to "写真を投稿する", new_post_path, class: "btn btn-light" %>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
  
</footer>