<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <%= link_to "", root_path, class: "navbar__brand navbar__mainLogo" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav ml-md-auto align-items-center">
        <li>
          
          <dl class="searchbox">
            <%= search_form_for @search, url: posts_path, html: { id: :form1 }  do |f| %>
              <%= f.text_field :caption_cont, class: 'sbox', placeholder: '入力...' %>
              <%= f.submit ("検索"), class: 'sbtn' %>
            <% end %>
          </dl>
          
        </li>
        <li>
          <%= link_to "",  user_index_path, class: "nav-link commonNavIcon people-icon" %>
        </li>
        <li class="notification">
          <%= link_to(notifications_path) do %>
            <% if unchecked_notifications.any? %>
              <span class="fa-stack">
                <i class="fa fa-bell fa-lg fa-stack-2x" style="font-size: 1.5em; color: #696969;"></i>
                <i class="fa fa-circle n-circle fa-stack-1x"></i>
              </span>
            <% else %>
              <i class="fa fa-bell fa-lg"  style="font-size: 1.5em; color: #696969;"></i>
            <% end %>
          <% end %>
        </li>
        <li>
          <%= link_to "", user_path(current_user), class: "nav-link commonNavIcon profile-icon" %>
        </li>
        
      </ul>
    </div>
  </div>
</nav>