<% provide(:title, "投稿一覧")%>
<% if @search_posts %>
  <%= render partial: 'post', collection: @search_posts %>
<% else %>
  <div class="col-md-8">
    <br>
    <h4>ステータスフィード</h4>
    <br>
    <%= render 'partial/feed' %>
  </div>
<% end %>