// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid;
    border-bottom-color: #dcdcdc;
  }
}

.round-img{
  border-radius:50%;
  width: 120px;
  height: 120px;
}
