.profile-form-wrap {
  background: #fff;
  padding: 20px;
  border: none;
  // border: 1px solid #e6e6e6;
}

.profile-form-wrap label {
  font-weight: bold;
}

.edit-profile-wrapper {
  margin-top: 60px;
}